#play-button {
  width: 100px;
  border-radius: 50px;
  height: 100px;
  /* added a transition thqat eases in and out so that all my changes act smoothly and make the feedback feel polished */
  transition: 200ms ease-in-out;
  border-width: 0;
  border-color: white;
  border-style: solid;
  color: white;
  background-color: #5e77e3;
}

/* button changes colour when hovered and gets bigger */
#play-button:hover {
  background-color: rgb(24, 23, 86);
  transform: scale(1.2);
  cursor: pointer;
}

/* white circle around button shows when clicked */
#play-button:active {
  border-width: 5px;
  border-color: white;
  cursor: grab;
}

body {
  transition: 2000ms ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #36408a;
  font-family: Arial, Helvetica, sans-serif;
}

/* created an animation for when the button is pressed that cycles through a few colours */
@keyframes myAnimation {
  0% {
    background-color: #36408a;
  }
  20% {
    background-color: #161b3f;
  }
  40% {
    background-color: #5d00a5;
  }
  60% {
    background-color: #f55a27;
  }
  80% {
    background-color: #00482c;
  }
  100% {
    background-color: #36408a;
  }
}

/* creating the animation class to add onto the button when it is clicked in javascript */
.animation {
  animation-name: myAnimation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
